@{
    ViewBag.Title = "Home Page";
}
@section head{
    
<link href="~/Content/angular-form-builder.css" rel="stylesheet" />
}
<div class="row" ng-controller="formBuilderController">
    <div class="col-md-6">
        <h2>Controls</h2>
        <div fb-components></div>
    </div>
    <div class="col-md-6">
        <h2>Form Builder</h2>
        <div fb-builder="default" style="border: solid 1px #ccc; padding: 15px"></div>
    </div>

</div>
@section scripts
{
    <script src="~/Scripts/angular-form-builder.js"></script>
    <script src="~/Scripts/angular-form-builder-components.js"></script>
    <script src="~/Scripts/Angular/Controllers/FormBuilderController.js"></script>
    <script type="text/javascript">
        $(function () {

        }())
    </script>
}
